<h1>New Restaurant</h1>
<div class='p-5'></div>
<%= simple_form_for @restaurant do |f| %>
  <%= f.error_notification %>
  <%=f.input :name, label: "Name"%>
  <%=f.input :address, label: "Address"%>
  <%=f.input :category, label: "Chinese, Italian, Japanese, French, Belgian"%>
  <%= f.button :submit, class: "btn-primary" %>
  <%= f.button :button, "Cancel", type: "reset", class: "btn-outline-secondary" %>
<% end %>
<%= link_to "Home", restaurants_path, class: 'btn btn-secondary m-5' %>
